/* ==========================================================================
   THE BREAKS
   ========================================================================== */

/* Break After */

.ba-aut {           break-after: auto; }
.ba-al {            break-after: always; }
.ba-l {             break-after: left; }
.ba-r {             break-after: right; }
.ba-rect {          break-after: recto; }
.ba-vers {          break-after: verso; }
.ba-page {          break-after: page; }
.ba-col {           break-after: column; }
.ba-reg {           break-after: region; }
.ba-avoid {         break-after: avoid; }
.ba-avoid-page {    break-after: avoid-page; }
.ba-avoid-column {  break-after: avoid-column; }
.ba-avoid-region {  break-after: avoid-region; }


/* Break Before */

.bb-aut {           break-before: auto; }
.bb-al {            break-before: always; }
.bb-l {             break-before: left; }
.bb-r {             break-before: right; }
.bb-rect {          break-before: recto; }
.bb-vers {          break-before: verso; }
.bb-page {          break-before: page; }
.bb-col {           break-before: column; }
.bb-reg {           break-before: region; }
.bb-avoid {         break-before: avoid; }
.bb-avoid-page {    break-before: avoid-page; }
.bb-avoid-column {  break-before: avoid-column; }
.bb-avoid-region {  break-before: avoid-region; }

