/* ==========================================================================
   CLEARS
   ========================================================================== */

.cn { clear: none; }
.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }
