/* ==========================================================================
   COUNTER INCREMENT

   - Counter Increment
   - Counter Reset
   ========================================================================== */

/* Counter Increment */

.ci-plus {  counter-increment: count; }
.ci-minus { counter-increment: count -1; }
.ci-none {  counter-increment: none; }
.ci-i {     counter-increment: inherit; }


/* Counter Reset */

.cr {       counter-reset: count; }
.cr-minus { counter-reset: count -1; }
.cr-none {  counter-reset: none; }
.cr-i { counter-reset: inherit; }

