/* ==========================================================================
   DISPLAY
   ========================================================================== */

.dn   { display: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }

.dli { display: list-item; }
.dit { display: inline-table; }
.dt  { display: table; }
.dtc { display: table-cell; }
.dtcol { display: table-column; }
.dtcolg { display: table-column-group; }
.dtfg { display: table-footer-group; }
.dthg { display: table-header-group; }
.dtr { display: table-row; }
.dtrg { display: table-row-group; }
.df { display: flex; }
.dif { display: inline-flex; }
.dg { display: grid; }
.dig { display: inline-grid; }
.dri { display: run-in; }
