/* ==========================================================================
   HYPHENS
   ========================================================================== */


.hyphen-none    {  hyphens: none; }
.hyphen-manual  {  hyphens: manual; }
.hyphen-auto    {  hyphens: auto; }

