/* ==========================================================================
   STACKING
   ========================================================================== */

/* Opacity */

.o-10 { opacity: .1; }
.o-20 { opacity: .2; }
.o-30 { opacity: .3; }
.o-40 { opacity: .4; }
.o-50 { opacity: .5; }
.o-60 { opacity: .6; }
.o-70 { opacity: .7; }
.o-80 { opacity: .8; }
.o-90 { opacity: .9; }
.o-full { opacity: 1; }

/* Z-Index */

.z1  { z-index: 100; }
.z2  { z-index: 200; }
.z3  { z-index: 300; }
.z4  { z-index: 400; }
.z5  { z-index: 500; }
.z6  { z-index: 600; }
.z7  { z-index: 700; }
.z8  { z-index: 800; }
.z9  { z-index: 900; }
.z10 { z-index: 999; }
