/* ==========================================================================
   TABS
   ========================================================================== */


.tabs-none    { tab-size: 0; }
.tabs-2       { tab-size: 2; }
.tabs-default { tab-size: 4; }
.tabs-large   { tab-size: 8; }

