/* ==========================================================================
   TRANSFORMS
   ========================================================================== */


/* Transform Style */

.ts-p3d { transform-style: preserve-3d; }
.ts-flat { transform-style: flat; }
.ts-i { transform-style: inherit; }

