/* ==========================================================================
   TEXT UTILITIES

   - Text Transform
   - Text Align
   - Text Decoration
   - Font Weights
   - Font Style
   - Font Family Groups
   - Font Variant

   ========================================================================== */

/* Type Scale */


.f1    { font-size: 2rem; }
.f2    { font-size: 1.5rem; }
.f3    { font-size: 1.2rem; }
.f4    { font-size: 1.2rem; }
.f5    { font-size: 1rem; }
.f6    { font-size: .75rem; }

@include break(not-small) {
.f1-ns { font-size: 2rem; }
.f2-ns { font-size: 1.5rem; }
.f3-ns { font-size: 1.2rem; }
.f4-ns { font-size: 1.2rem; }
.f5-ns { font-size: 1rem; }
.f6-ns { font-size: .85rem; }
}

@include break(medium) {
.f1-m { font-size: 2rem; }
.f2-m { font-size: 1.5rem; }
.f3-m { font-size: 1.2rem; }
.f4-m { font-size: 1.2rem; }
.f5-m { font-size: 1rem; }
.f6-m { font-size: .85rem; }
}

@include break(large) {
.super-mega-l { font-size: 12rem; }
.mega-l { font-size: 6rem; }
.f1-l { font-size: 3rem; }
.f2-l { font-size: 2rem; }
.f3-l { font-size: 1.5rem; }
.f4-l { font-size: 1.2rem; }
.f5-l { font-size: 1rem; }
.f6-l { font-size: 1rem; }
}


/* Text Align */

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }
.ts  { text-align: start; }
.te  { text-align: end; }
.tmp { text-align: match-parent; }
.tse { text-align: start end; }
.tp  { text-align: "."; }
.tsp { text-align: start "."; }
.tpe { text-align: "." end; }


/* Text Decoration */

.under  { text-decoration: underline; }
.over   { text-decoration: overline; }
.strike { text-decoration: line-through; }
.blink  { text-decoration: blink; }
.none   { text-decoration: none; }


/* Font Weights */

.fwn { font-weight: normal; }
.b   { font-weight: bold; }

.fw1, .thin  { font-weight: 100; }
.fw2         { font-weight: 200; }
.fw3         { font-weight: 300; }
.fw4         { font-weight: 400; }
.fw5         { font-weight: 500; }
.fw6         { font-weight: 600; }
.fw7         { font-weight: 700; }
.fw8         { font-weight: 800; }
.fw9, .b     { font-weight: 900; }

/* Font Style */

.fsn      { font-style: normal; }
.i        { font-style: italic; }
.oblique  { font-style: oblique; }

/* Font Family Groups */

.serif       { font-family: georgia, serif; }
.sans-serif  { font-family: helvetica, arial, sans-serif; }
.font-fantasy { font-family: fantasy; }
.font-cursive { font-family: cursive; }
.font-mono    { font-family: monospace; }

/* Font Variant */

.small-caps { font-variant: small-caps; }

/* Vertical Alignment */

.v-base     { vertical-align: baseline; }
.v-sub      { vertical-align: sub; }
.v-sup      { vertical-align: super; }
.v-txt-top  { vertical-align: text-top; }
.v-txt-btm  { vertical-align: text-bottom; }
.v-mid      { vertical-align: middle; }
.v-top      { vertical-align: top; }
.v-btm      { vertical-align: bottom; }


/* Leading */

.lh      { line-height: 1; }
.lh-title{ line-height: 1.2; }
.lh-copy { line-height: 1.6; }
.lh-2    { line-height: 2; }
.lh-3    { line-height: 3; }

@include break(not-small) {
.lh-ns      { line-height: 1; }
.lh-title-ns { line-height: 1.2; }
.lh-copy-ns { line-height: 1.6; }
.lh-2-ns    { line-height: 2; }
.lh-3-ns    { line-height: 3; }
}
@include break(large) {
.lh-l      { line-height: 1; }
.lh-title-l { line-height: 1.2; }
.lh-copy-l { line-height: 1.6; }
.lh-2-l    { line-height: 2; }
.lh-3-l    { line-height: 3; }
}

/* Tracking */

.tracked {      letter-spacing: 0.1em; }
.mega-tracked { letter-spacing: 0.2em; }

