/* ==========================================================================
   UNICODE BIDI
   ========================================================================== */


.ub-norm {          unicode-bidi: normal; }
.ub-embed {         unicode-bidi: embed; }
.ub-iso {           unicode-bidi: isolate; }
.ub-bidi-override { unicode-bidi: bidi-override; }
.ub-iso-override {  unicode-bidi: isolate-override; }
.ub-pt {            unicode-bidi: plaintext; }
.ub-i {             unicode-bidi: inherit; }

