  <h1 ng-show="loading" class="tc f5 pal man bg-green wht">Loading...</h1>
  <h1 ng-show="parsing" class="tc f5  pal man bg-green wht">Parsing data...</h1>

<div ng-show="declarations" ng-controller="HomeCtrl">
  
  <section id="overview" class="bg-lightcyan pvl phl">
    <h1 class="f3 thin mtl">{{ styleData }}</h1>
    <article class="mbl mtx sans-serif">
      <p class="f1 mega-l man">
        <b>{{ selectors.length }}</b>
        <a href="http://www.w3.org/TR/CSS2/selector.html"
           title="What is a selector? TO THE SPEC!">
           selectors!
        </a>
        Wut.
      </p>
      <p>Some genius decided IE only allows 4095 selectors per stylesheet. So, that's a thing.</p>
      </article>
    <article class="sans-serif mvm pvl bb">
      <p class="f1 f1-l man">
        <b>{{ fontSizes.length }}</b>
        <span class="gry"> font-sizes , but only</span>
        <b>{{ uniqueFontSizes.length }}</b>
        <span class="gry">of these are unique.</span>
      </p>
      <p>
        Woah. They are using {{ fontSizes.length }} lines of code when they just need like,
        {{ uniqueFontSizes.length }} lines. Who knows what happened here.
      </p>
    </article>
    <article class="sans-serif mvx">
      <p class="f1 f1-l man"><b>{{ floats.length }}</b> floats? Really?</p>
      <p>But there are only three choices...</p>
    </article>
    <ul>
      <li class="mvm">
        There are <b>{{ declarations.length }}</b> declarations total.
        <b>{{ uniqueDeclarations.length }}</b> of these are unique.
      </li>
      <li class="mvm">
        Widths: <b>{{ widths.length }}</b> (total) vs.
                <b>{{ uniqueWidths.length }}</b> (Unique)
      </li>
      <li class="mvm">
        Heights: <b>{{ heights.length }}</b> Total vs.
                 <b>{{ uniqueHeights.length }}</b> Unique</li>
      <li class="mvm"><b>{{ colors.length }}</b> color declarations</li>
      <li class="mvm"><b>{{ uniqueColors.length }}</b> unique color declarations</li>
      <li class="mvm"><b>{{ backgroundColors.length }}</b> background-color declarations</li>
      <li class="mvm"><b>{{ uniqueBackgroundColors.length }}</b> unique background-color declarations</li>
      <li class="mvm"><b>{{ backgroundImages.length }}</b> background-image declarations</li>
      <li class="mvm"><b>{{ transitions.length }}</b> transition declarations</li>
    </ul>
    <!-- Broke this by removing the unique filter from the parser - will fix -->
    <p>Refactoring could potentially reduce your css by {{ refactoringPotential }}% </p>
  </section>
  <section id="warnings" class="phl">
    <article ng-show="fontSizesWarning">
      <h1>{{ fontSizesWarning }}</h1>
    </article>
    <article ng-show="uniqueFontSizesWarning">
      <h1>{{ uniqueFontSizesWarning }}</h1>
    </article>
    <article ng-show="declarationsWarning">
      <h1>{{ declarationsWarning }}</h1>
    </article>
  </section>

</div>

