
  <h1 ng-show="loading" class="tc f5 pal man bg-green wht">Loading...</h1>
  <h1 ng-show="parsing" class="tc f5  pal man bg-green wht">Parsing data...</h1>

<div ng-show="declarations" ng-controller="HomeCtrl">

<header class="phl">
  <h1>CSS Overview</h1>
</header>

  <section id="warnings" class="phl">
    <div ng-show="fontSizesWarning">
      <h2>{{ fontSizesWarning }}</h2>
    </div>
    <div ng-show="uniqueFontSizesWarning">
      <h2>{{ uniqueFontSizesWarning }}</h2>
    </div>
    <div ng-show="declarationsWarning">
      <h2>{{ declarationsWarning }}</h2>
    </div>
  </section>

  <section id="overview" class="pvx phl">
    <h1 class="f2">The Numbers</h1>
    <ul class="mbl sans-serif">
      <li class="mvm">
        This cascading stylesheet has exactly <b>{{ selectors.length }}</b>
        <a href="http://www.w3.org/TR/CSS2/selector.html"
           title="What is a selector? TO THE SPEC!">
           selectors.
        </a>
      </li>
      <li class="mvm">There are <b>{{ declarations.length }}</b> total declarations. Only <b>{{ uniqueDeclarations.length }}</b> of these are unique.</li>
      <li class="mvm"><b>{{ fontSizes.length }}</b> font-size declarations</li>
      <li class="mvm"><b>{{ uniqueFontSizes.length }}</b> unique font-size declarations</li>
      <li class="mvm">There are <b>{{ floats.length }}</b> floats. Woah, I wonder what happend. You only have three choices.</li>
      <li class="mvm"><b>{{ widths.length }}</b> width declarations</li>
      <li class="mvm"><b>{{ uniqueWidths.length }}</b> unique width declarations</li>
      <li class="mvm"><b>{{ heights.length }}</b> height declarations</li>
      <li class="mvm"><b>{{ uniqueHeights.length }}</b> unique height declarations</li>
      <li class="mvm"><b>{{ colors.length }}</b> color declarations</li>
      <li class="mvm"><b>{{ uniqueColors.length }}</b> unique color declarations</li>
      <li class="mvm"><b>{{ backgroundColors.length }}</b> background-color declarations</li>
      <li class="mvm"><b>{{ uniqueBackgroundColors.length }}</b> unique background-color declarations</li>
      <li class="mvm"><b>{{ backgroundImages.length }}</b> background-image declarations</li>
      <li class="mvm"><b>{{ transitions.length }}</b> transition declarations</li>
    </ul>
    <!-- Broke this by removing the unique filter from the parser - will fix -->
    <p>Refactoring could potentially reduce your css by {{ refactoringPotential }}% </p>
  </section>

</div>

