<!--<style> * { outline: 1px solid red; }</style>-->
  <h1 ng-show="loading" class="tc f5 pal man bg-green wht">Loading...</h1>
  <h1 ng-show="parsing" class="tc f5  pal man bg-green wht">Parsing data...</h1>

<div ng-show="declarations" ng-controller="HomeCtrl">

  <section id="overview" class="pvl phl phx-l">
    <h1 class="f1 b mtx" style="color:#0FA68A;">
      <span class="thin">Let's look at CSS by </span><span class="ttc">{{ styleData }}</span>
    </h1>
    <article class="sans-serif mvm ptx pbm">
    <div class="cf">
      <div class="fl wi-50">
        <p class="f1 mega-l man">
          <span class="gry f5 f3-l man lh-copy db mbs"> Total amount of declared font-sizes</span>
          <b class="super-mega-l lh man db">{{ fontSizes.length }}</b>
        </p>
      </div>
      <div class="fl wi-50">
        <p class="f1 mega-l man">
          <span class="gry f5 f3-l man lh-copy db mbs"> Number of unique font-sizes</span>
          <b class="super-mega-l lh man db">{{ uniqueFontSizes.length }}</b>
        </p>
      </div>
    </div>
      <p class="f1-l serif lh-copy">
        Woah. They are using {{ fontSizes.length }} lines of code when they just need like,
        {{ uniqueFontSizes.length }} lines. Who knows what happened here.
      </p>
    </article>
    <article class="mbl mts sans-serif">
      <p class="f1 mega-l man">
        <b>{{ selectors.length }}</b>
        <a href="http://www.w3.org/TR/CSS2/selector.html"
          title="What is a selector? TO THE SPEC!"
          class="blk b ttu" >
           selectors.
        </a>
      </p>
      <p class="f2-l serif man lh-copy">Some genius decided IE<10 only allows 4095 selectors per stylesheet. <br >
        So, that's a thing. Don't worry <a href="http://blogs.msdn.com/b/ieinternals/archive/2011/05/14/internet-explorer-stylesheet-rule-selector-import-sheet-limit-maximum.aspx" class="blk" title="WTFIE">IE10 let's you include 4095 stylesheets per page</a>.</p>
      </article>
    <article class="sans-serif mvx">
      <p class="f1 f1-l man"><b>{{ floats.length }} FLOATS.</b></p>
      <p class="man serif f2 lh-copy">But there are only three choices...</p>
    </article>
    <article class="sans-serif">
      <p class="man f1 b"> They only declared <b>{{ transitions.length }}</b> transitions.</p>
      <p>I bet they are really patting themselves on the back for this one.</p>
    </article>
    <ul>
      <li class="mvm">
        There are <b>{{ declarations.length }}</b> declarations total.
        <b>{{ uniqueDeclarations.length }}</b> of these are unique.
      </li>
      <li class="mvm">
        Widths: <b>{{ widths.length }}</b> (total) vs.
                <b>{{ uniqueWidths.length }}</b> (Unique)
      </li>
      <li class="mvm">
        Heights: <b>{{ heights.length }}</b> Total vs.
                 <b>{{ uniqueHeights.length }}</b> Unique</li>
      <li class="mvm"><b>{{ colors.length }}</b> color declarations</li>
      <li class="mvm"><b>{{ uniqueColors.length }}</b> unique color declarations</li>
      <li class="mvm"><b>{{ backgroundColors.length }}</b> background-color declarations</li>
      <li class="mvm"><b>{{ uniqueBackgroundColors.length }}</b> unique background-color declarations</li>
      <li class="mvm"><b>{{ backgroundImages.length }}</b> background-image declarations</li>
    </ul>
  </section>
  <section id="warnings" class="phl">
    <article ng-show="fontSizesWarning">
      <h1>{{ fontSizesWarning }}</h1>
    </article>
    <article ng-show="uniqueFontSizesWarning">
      <h1>{{ uniqueFontSizesWarning }}</h1>
    </article>
    <article ng-show="declarationsWarning">
      <h1>{{ declarationsWarning }}</h1>
    </article>
  </section>

</div>

