<!-- This is an index:show::hub:spoke model and UI. Deal with it. -->

<section class="phl pax-m pax-l f3 lh-copy">
  <h1 class="fw1 f4 mtm">Data</h1>
<ul class="list list--h bb pbl pbx-l">
  <li ng-repeat="site in sites">
    <a href="#/{{ site.data }}" class="f6 f2-m f2-l b-ns blk pvs pvm-l prm db mrl-m mrx-l">
      {{ site.name }}
    </a>
  </li>
</ul>
<div class="f5 f3-m f2-l ptl ptx-l mw-64">
  <h1 class="fw1 f4">About</h1>
  <p class="ptl">
    <a class="blk b" href="http://jxnblk.com" title="Brent Jackson">Jackson</a> and <a class="blk b" href="http://mrmrs.cc" title="Adam Morse">I</a>
      love designing in the browser. A lot.
      But we want to love it more. As css authors and designers, when we step into a codebase, we have a lot of questions.
      And they can be time consuming to get answers to. We don't believe that should be the case because it's 2013 and we have computers.
    </p>
  <p>
    This project is a start for us to play around with visualizing all of our questions.
  </p>
  <p>
    <strong>We would love help!</strong><br>
    File issues, send us your thoughts, let us know your criticisms, ask questions, and most of all please send <a href="http://github.com/mrmrs/rprtr/" title="Please! We will be forever grateful." class="b blk">pull requests</a>!
  </p>
  <p >
    The data we are visualizing here is from some sites we were interested in looking at for various reasons.
    We'll be adding more data frequently, but would love to be able to allow for arbitrary css files / urls to be visualized as well.
  </p>
  <p>
    While this isn't a complete tool by any means, we're excited about the start. We hope you'll join our conversation.
    <br>
    <br>
    Cheers.
  </p>
</div>
</section>
