
<div ng-show="declarations" ng-controller="HomeCtrl">

  <section id="overview" class="pvl phl phx-l">
    <h1 class="f1 b mtx">
      <span class="thin">CSS Stats for </span><span class="orangered">{{ currentSite.name }}</span>
    </h1>
    <article class="sans-serif mvm ptx pbm">
    <div class="cf">
      <div class="fl wi-50">
        <p class="f1 mega-l man">
          <span class="gry f5 f3-l man lh-copy db mbs"> Total amount of declared font-sizes</span>
          <b class="super-mega-l lh man db">{{ fontSizes.length }}</b>
        </p>
      </div>
      <div class="fl wi-50">
        <p class="f1 mega-l man">
          <span class="gry f5 f3-l man lh-copy db mbs"> Number of unique font-sizes</span>
          <b class="super-mega-l lh man db">{{ uniqueFontSizes.length }}</b>
        </p>
      </div>
    </div>
    </article>
    <article class="mvx sans-serif pvx">
      <p class="f1 mega-l man">
        <b>{{ selectors.length }}</b>
        <a href="http://www.w3.org/TR/CSS2/selector.html"
          title="What is a selector? TO THE SPEC!"
          class="blk b ttu" >
           selectors.
        </a>
      </p>
      <p class="f3">{{ selectorsWarning }}</p>
      </article>
    <article class="sans-serif mvx pvx">
      <p class="f1 f1-l man"><b>{{ floats.length }} FLOATS.</b></p>
      <p class="man serif f2 lh-copy">But there are only three choices...</p>
    </article>
    <article class="sans-serif mvx pvx">
      <div class="cf">
        <div class="fl wi-50">
          <span class="gry f5 f3-l man lh-copy db mbs">Total declarations</span>
          <b class="f1 super-mega-l man">{{ declarations.length }}/</b>
        </div>
        <div class="fl wi-50">
          <span class="gry f5 f3-l man lh-copy db mbs">Unique declarations</span>
          <b class="f1 super-mega-l man">{{ uniqueDeclarations.length }}</b>
        </div>
      </div>
    </article>
    <article class="sans-serif mbx">
      <p class="man f1 b"> They only declared <b>{{ transitions.length }}</b> transitions.</p>
      <p>I bet they are really patting themselves on the back for this one.</p>
    </article>
  <section class="pbl">
    <h1 class="h4 tracked">Some other highlights</h1>
    <ul class="sans-serif">
      <li class="mvm f2">
        Widths: <b>{{ widths.length }}</b> total /
                <b>{{ uniqueWidths.length }}</b> unique
      </li>
      <li class="mvm f2">
        Heights: <b>{{ heights.length }}</b> total /
        <b>{{ uniqueHeights.length }}</b> unique
      </li>
      <li class="mvm f2">
        Color:
        <b>{{ colors.length }}</b> total /
        <b>{{ uniqueColors.length }} </b> unique
      </li>
      <li class="mvm f2">
        Background colors:
        <b>{{ backgroundColors.length }}</b> total /
        <b>{{ uniqueBackgroundColors.length }}</b> unique
      </li>
    </ul>
  </section>
  <section id="warnings" class="bt mtl ptx">
    <header>
      <h1>WARNINGS</h1>
      <h2>This is in some serious alpha mode</h2>
    </header>
    <article ng-show="fontSizesWarning">
      <h1 class="f1 f1-l mega-l orangered">{{ fontSizesWarning }}</h1>
    </article>
    <article ng-show="uniqueFontSizesWarning">
      <h1 class="f1 f1-l mega-l orangered">{{ uniqueFontSizesWarning }}</h1>
    </article>
    <article ng-show="declarationsWarning">
      <h1 class="f1 f1-l mega-l orangered">{{ declarationsWarning }}</h1>
    </article>
  </section>

</div>
