<ul class="list list--h f6 sans-serif ttu mega-tracked wi100 pvs lh-2">
    <li class="prm">
      <a href="#/{{ styleData }}" ng-click="updateSection('overview')" class="blk dib" ng-class="{'orangered': section == 'overview'}">{{ currentSite.name }}</a>
    </li>
    <li class="prm">
      <a href="" ng-click="updateSection('font-size')" class="blk dib" ng-class="{'orangered': section == 'font-size'}">Font-size</a>
    </li>
    <li class="prm">
      <a href="" ng-click="updateSection('spacing')" class="blk dib" ng-class="{'orangered': section == 'spacing'}">Spacing</a>
    </li>
    <li class="prm">
      <a href="" ng-click="updateSection('width')" class="blk dib" ng-class="{'orangered': section == 'width'}">Width</a>
    </li>
    <li class="prm">
      <a href="" ng-click="updateSection('colors')" class="blk dib" ng-class="{'orangered': section == 'colors'}">Colors</a>
    </li>
    <!-- <li class="prm">
      <a href="" ng-click="updateSection('background-image')" class="blk dib" ng-class="{'orangered': section == 'background-image'}">Background Image</a>
    </li> -->
    <li class="prm">
      <a href="" ng-click="updateSection('all-rules')" class="blk dib" ng-class="{'orangered': section == 'all-rules'}">All Rules</a>
    </li>
    <li class="prm">
      <a href="" ng-click="updateSection('selectors')" class="blk dib" ng-class="{'orangered': section == 'selectors'}">Selectors</a>
    </li>
    <li class="prm">
      <a href="" ng-click="updateSection('declarations')" class="blk dib" ng-class="{'orangered': section == 'declarations'}">Declarations</a>
    </li>
</ul>
