<section ng-controller="WidthCtrl">
  <header class="phl phx-l mvl">
    <h1 class="f1 mega-l ttu tracked lh">Widths ({{ widths.length }})</h1>
    <p class="f1">Quite the grid enthusiast I see.</p>
  </header>
  <div class="phl phx-l">
    <ul>
      <li ng-repeat="width in widths | orderBy:'relativeValue'" class="mbm">
        <span class="db sans-serif ltgry lh-2 f4">  <b class="blk">{{ width.value }}</b></span>
        <div style="width: {{ width.relativeValue }}%; outline: 1px solid #222; height: 3rem;">
            <!-- <pre>{{ width.relativeValue }}</pre> -->
        </div>
      </li>
    </ul>
  </div>
</section>
