<footer class="px2">
  <div class="flex flex-center container py3 border-top">
    <p class="h5 m0">
      Made by
      <a href="http://mrmrs.cc" class="bold dark-gray">Mrmrs</a>
      &
      <a href="http://jxnblk.com" class="bold dark-gray">Jxnblk</a>
    </p>
    <div class="flex-grow"></div>
    <a href="http://github.com/mrmrs/cssstats" class="h5 button text-link print-hide">GitHub</a>
    <a href="http://github.com/mrmrs/cssstats/issues" class="h5 button text-link print-hide">Issues</a>
  </div>
</footer>
