<header class="px2 xmb2 xborder-bottom">
  <div class="container xborder-bottom">
    <div class="flex flex-center mxn2">
      <a href="/" class="h3 bold button py2 dark-gray">
        CSS Stats
      </a>
      <div class="flex-grow"></div>
      <a href="https://twitter.com/intent/tweet?text=Visualize heuristic stats for your css:&amp;url=http://cssstats.com" target="_blank" class="h5 button py2 dark-gray print-hide">
        <i style="background:transparent url(svg/twitter.svg) no-repeat;background-size:contain;float:left;height:15px;width:15px; margin-right: .25em;"></i>
        Tweet
      </a>
      <a href="http://github.com/mrmrs/cssstats" class="h5 button py2 dark-gray print-hide">Github</a>
    </div>
  </div>
</header>
