<header class="px2 mb4">
  <div class="container border-bottom">
    <div class="flex flex-center mxn2">
      <a href="/" class="h3 bold button py2 dark-gray">
        CSS Stats
      </a>
      <div class="flex-grow"></div>
      <a href="http://github.com/mrmrs/cssstats" class="h5 button py2 dark-gray">Github</a>
    </div>
  </div>
</header>
