<header class="px2 xmb2 xborder-bottom">
  <div class="container xborder-bottom">
    <div class="flex flex-center mxn2">
      <a href="/" class="h3 bold button py2 text-link">
        CSS Stats
      </a>
      <div class="flex-grow"></div>
      <a href="http://github.com/mrmrs/cssstats" class="h5 button py2 text-link print-hide">GitHub</a>
    </div>
  </div>
</header>
