<!doctype html>
<html lang="en" ng-app="rprtr">
  <head>
    <meta charset="utf-8">
    <title>RPRTR (APRIL JONES)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/i.css">

  </head>
  <body ng-controller="GlobalCtrl">
    <header class="pll pts pbs bb-solid bw-1 bor--near-wht">
      <h1 class="f3 ttu mega-tracked mtn mbn dib mrx pvs">
        <a class="blk" href="#/" title="WTFCSS">WTFCSS</a>
      </h1>
      <ul class="list list--h f6 sans-serif ttu mega-tracked wi100 pvs lh-2">
        <li class="prm"><a class="blk" href="" ng-click="updateStyles('github')">Github</a></li>
        <li class="prm"><a class="blk" href="" ng-click="updateStyles('kickstarter')">Kickstarter</a></li>
        <li class="prm"><a class="blk" href="" ng-click="updateStyles('mapbox')">Mapbox</a></li>
        <li class="prm"><a class="blk" href="" ng-click="updateStyles('medium')">Medium</a></li>
        <li class="prm"><a class="blk" href="" ng-click="updateStyles('myspace')">Myspace</a></li>
        <li class="prm"><a class="blk" href="" ng-click="updateStyles('twitter')">Twitter</a></li>
        <li class="prm"><a class="blk" href="" ng-click="updateStyles('salesforce')">Salesforce</a></li>
        <li class="prm"><a class="blk" href="" ng-click="updateStyles('sfdc')">Salesforce (logged in)</a></li>
      </ul>
    </header>
    <nav>
      <div class="bg-blk pvm">
        <form ng-submit="updateStyles()" class="f5 pll">
        <fieldset class="bn pan man">
          <legend class="dn">Data File</legend>
          <label class="b sans-serif ltgry mrs">Currently Viewing</label>
          <input ng-model="styleData" class="bg-blk input sans-serif ltgry">
        </fieldset>
        </form>
      </div>
      <div class="pll">
      <ul class="list list--h f6 sans-serif ttu mega-tracked wi100 pvs lh-2">
        <li class="prm"><a class="blk dib" href="#/home">Overview</a></li>
        <li class="prm"><a class="blk dib" href="#/font-size">Font-size</a></li>
        <li class="prm"><a class="blk dib" href="#/spacing">Spacing</a></li>
        <li class="prm"><a class="blk dib" href="#/width">Width</a></li>
        <li class="prm"><a class="blk dib" href="#/colors">Colors</a></li>
        <li class="prm"><a class="blk dib" href="#/background-image">Background Image</a></li>
        <li class="prm"><a class="blk dib" href="#/all-rules">All Rules</a></li>
        <li class="prm"><a class="blk dib" href="#/selector">Selectors</a></li>
        <li class="prm"><a class="blk dib" href="#/declarations">Declarations</a></li>
      </ul>
    </div>

    </nav>

    <main ng-view></main>

    <footer class="pvs bor bb-top bor--near-wht mdgry cf">
      <p class="f6 tc sans-serif mega-tracked ttu">
        Built with ♡
        by
        <a href="http://mrmrs.cc" class="b blk" title="Adam Morse (mrmrs)">mrmrs</a>
        and
        <a href="http://jxnblk.com" class="b blk" title="Brent Jackson (jxnblk)">jxnblk</a>
      </p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="js/rprtr.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>
