/* ==========================================================================
   CAPTION SIDE
   ========================================================================== */

.cst { caption-side: top; }
.csb { caption-side: bottom; }
.csi { caption-side: inherit; }

