/* ==========================================================================
   DIRECTIONS
   ========================================================================== */

.ltr { direction: ltr; }
.rtl { direction: rtl; }
