/* ==========================================================================
   IMAGES
   ========================================================================== */

/* Responsive images */

img { width: 100%; }


/* IMG Rendering */

.render-auto { image-rendering: auto; }
.render-auto { image-rendering: crisp-edges; }
.render-auto { image-rendering: pixelated; }


/* IMG Rotation */

.img-turn-45  { image-orientation: 45deg;  }
.img-turn-90  { image-orientation: 90deg;  }
.img-turn-135 { image-orientation: 135deg; }
.img-turn-180 { image-orientation: 180deg; }
.img-turn-225 { image-orientation: 225deg; }
.img-turn-270 { image-orientation: 270deg; }
.img-turn-315 { image-orientation: 315deg; }
.img-turn-360 { image-orientation: 360deg; }

