/* ==========================================================================
   LISTS
   ========================================================================== */

/* List Style Types */

.disc {         list-style-type: disc; }
.circle {       list-style-type: circle; }
.square {       list-style-type: square; }
.decimal {      list-style-type: decimal; }
.leading-zero { list-style-type: decimal-leading-zero; }
.lower-roman {  list-style-type: lower-roman; }
.upper-roman {  list-style-type: upper-roman; }
.lower-greek {  list-style-type: lower-greek; }
.lower-latin {  list-style-type: lower-latin; }
.upper-latin {  list-style-type: upper-latin; }
.lower-alpha {  list-style-type: lower-alpha; }
.upper-alpha {  list-style-type: upper-alpha; }
.list {         list-style-type: none; }


/* Horizontal list: can be used on ol or ul */

.list {         list-style: none; }

.list--h {
                list-style-type: none;
                display: inline-block;
}
