/* ==========================================================================
   PAGED MEDIA
   ========================================================================== */


.page-ba-auto {   page-break-after: auto; }
.page-ba-always { page-break-after: always; }
.page-ba-avoid {  page-break-after: avoid; }
.page-ba-l {      page-break-after: left; }
.page-ba-r {      page-break-after: right; }
.page-ba-i {      page-break-after: inherit; }

.page-bb-auto {   page-break-before: auto; }
.page-bb-always { page-break-before: always; }
.page-bb-avoid {  page-break-before: avoid; }
.page-bb-l {      page-break-before: left; }
.page-bb-r {      page-break-before: right; }
.page-bb-i {      page-break-before: inherit; }

.page-bi-auto { page-break-inside: auto; }
.page-bi-avoid { page-break-inside: avoid; }
.page-bi-i { page-break-inside: inherit; }

