/* ==========================================================================
   VISIBILITY
   ========================================================================== */

/* Utilities */

.vis          { visibility: visible; }
.vis-hidden   { visibility: hidden; }
.vis-collapse { visibility: collapse; }

/*

Text that is hidden but accessible
From: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

*/

.clipped {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}


/*

Backface Visibility
More info: https://developer.mozilla.org/en-US/docs/Web/CSS/backface-visibility

*/

.bf-vis { backface-visibility: visible; }
.bf-hid { backface-visibility: hidden; }

