/* ==========================================================================
   WIDOWS

   Initial value: 2
   Applies to block container elements
   Inherited: yes
   Media: visual, paged

   ========================================================================== */


.widow0 { widows: 0; }
.widow2 { widows: 2; }
.widow3 { widows: 3; }

.widowi { widows: inherit; }

@include break(not-small) {
  .widow0-ns { widows: 0; }
  .widow2-ns { widows: 2; }
  .widow3-ns { widows: 3; }
  .widowi-ns { widows: inherit; }
}

@include break(medium) {
  .widow0-m { widows: 0; }
  .widow2-m { widows: 2; }
  .widow3-m { widows: 3; }
  .widowi-m { widows: inherit; }
}

@include break(large) {
  .widow0-l { widows: 0; }
  .widow2-l { widows: 2; }
  .widow3-l { widows: 3; }
  .widowi-l { widows: inherit; }
}

