/* ==========================================================================
   WORD BREAK
   ========================================================================== */

.wb-nor { word-break: normal; }
.wb-ba {  word-break: break-all; }
.wb-ka {  word-break: keep-all; }
.wb-i {   word-break: inherit; }

@include break(not-small) {
  .wb-nor-ns { word-break: normal; }
  .wb-ba-ns  { word-break: break-all; }
  .wb-ka-ns  { word-break: keep-all; }
  .wb-i-ns   { word-break: inherit; }
}

@include break(medium) {
  .wb-nor-m { word-break: normal; }
  .wb-ba-m  { word-break: break-all; }
  .wb-ka-m  { word-break: keep-all; }
  .wb-i-m   { word-break: inherit; }
}

@include break(large) {
  .wb-nor-l { word-break: normal; }
  .wb-ba-l  { word-break: break-all; }
  .wb-ka-l  { word-break: keep-all; }
  .wb-i-l   { word-break: inherit; }
}

