/* ==========================================================================
   BACKGROUNDS
   ========================================================================== */

.bg-cv  { background-size: cover; }
.bg-cn  { background-size: contain; }

/* 1st value defines background width, height is implicitly set to auto */

.bg-half {  background-size: 50%; }
.bg-size4 { background-size: 4rem; }
.bg-auto {  background-size: auto; }


/* Repeats */

.bg-x {         background-repeat: repeat-x; }
.bg-y {         background-repeat: repeat-y; }
.bg-repeat {    background-repeat: repeat; }
.bg-space {     background-repeat: space; }
.bg-round {     background-repeat: round; }
.bg-norepeat {  background-repeat: no-repeat; }


/* Background Clip */

.bg-clip-bb { background-clip: border-box; }
.bg-clip-pb { background-clip: padding-box; }
.bg-clip-cb { background-clip: content-box; }

