/* ==========================================================================
   CLIP
   ========================================================================== */

/* Clip can only be applied to absolutely positioned elements */

.clip-auto {  clip: auto; }
.clip-i {     clip: inherit; }

