/* ==========================================================================
   FORMS
   ========================================================================== */

.input {
  border: 0px solid;
}

.input-validation {
  font-size: 0.8rem;
  color: $firebrick;
}

.txt-input {
  border: 1px solid #eee;
  padding: .5rem;
}

.input-glow {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

.input-glow:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
