/* ==========================================================================
   FORMS
   ========================================================================== */

.input {
  border: 0px solid;
}

.txt-input {
  border: 1px solid #eee;
  padding: .5rem;
}
