/* ==========================================================================
   LINKS
   ========================================================================== */

.link { text-decoration: none; }

a {
  transition: .3s color ease-in-out;
}

a:hover {
  color: $orangered;
  cursor: pointer;
  transition: .3s color ease-in-out;
}

.af { transition: .4s color ease-in; }
.ab { transition: .4s background-color ease-in; }
.aa { transition: .3s all ease-in; }

.bg-hov:hover {
  background-color:darken( $blue, 10% );
}
