/* SITE STYLES */

*, *:before, *:after {
   -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, .sans-serif { font-family: avenir, "Comic Sans MS", helvetica, arial, sans-serif; }
body, .serif { font-family: georgia, serif; }
ul { list-style-type:none; margin: 0; padding: 0; }

a { text-decoration: none; }

