/* ==========================================================================
   TEXT TRANSFORM
   ========================================================================== */

.ttc { text-transform: capitalize; }
.ttu { text-transform: uppercase; }
.ttl { text-transform: lowercase; }
.ttn { text-transform: none; }
.ttf { text-transform: full-width; }
