/* ==========================================================================
   TEXT OVERFLOW
   ========================================================================== */

.to-clip { text-overflow: clip; }
.to-ellipsis { text-overflow: ellipsis; }
.to-dots { text-overflow: "…"; }

/* Two-value syntax: the first value describes the overflow at the left end of the line,
                     the second at the right end. Directionality has no influence */

.to-clip-ellipsis { text-overflow: clip ellipsis; }
.to-double { text-overflow: "…" "…"; }
.to-i { text-overflow: inherit; }
