<!doctype html>
<html lang="en" ng-app="rprtr">
  <head>
    <meta charset="utf-8">
    <title>RPRTR (APRIL JONES)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/i.css">

  </head>
  <body ng-controller="GlobalCtrl">

    <header class="pll pts pbs bb-solid bw-1 bor--gray">
      <h1 class="f3 ttu mega-tracked mtn mbs"><a href="#/">Rprtr</a></h1>
    </header>

    <nav>
      <ul class="list--h mtl sans-serif tc">
        <li class="pas"><a class="dib" href="#/font-size">Font-size</a></li>
        <li class="pas"><a class="dib" href="#/width">Width</a></li>
        <li class="pas"><a class="dib" href="#/margin">Margin</a></li>
        <li class="pas"><a class="dib" href="#/padding">Padding</a></li>
        <li class="pas"><a class="dib" href="#/color">Color</a></li>
        <li class="pas"><a class="dib" href="#/background-color">Background Color</a></li>
        <li class="pas"><a class="dib" href="#/background-image">Background Image</a></li>
        <li class="pas"><a class="dib" href="#/all-rules">All Rules</a></li>
        <li class="pas"><a class="dib" href="#/selector">Selectors</a></li>
        <li class="pas"><a class="dib" href="#/declarations">Declarations</a></li>
      </ul>

      <div class="pax tc">
        <form ng-submit="updateStyles()">
          <label class="b sans-serif f5">Style data URL:</label>
          <input ng-model="styleUrl">
        </form>
        <a href="#" ng-click="updateStyles('data/foundation.json')">Foundation</a>
        <a href="#" ng-click="updateStyles('data/github.json')">Github</a>
        <a href="#" ng-click="updateStyles('data/kickstarter.json')">Kickstarter</a>
        <a href="#" ng-click="updateStyles('data/medium.json')">Medium</a>
        <a href="#" ng-click="updateStyles('data/myspace.json')">Myspace</a>
        <a href="#" ng-click="updateStyles('data/twitter.json')">Twitter</a>
      </div>
    </nav>

    <main ng-view class="pam"></main>

    <footer class="pax bg-nearwht pos-rel">
      <p class="tc">
        Made with care by
        <a href="http://jxnblk.com" title="Brent Jackson (jxnblk)">jxnblk</a>
        and
        <a href="http://mrmrs.cc" title="Adam Morse (mrmrs)">mrmrs</a>
      </p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="rprtr.js"></script>
</body>
</html>
