<!--<style>* { outline: 1px solid red; }</style>-->
<section class="phl phx-l">
  <header class="pvl">
    <h1 class="f1 tracked ttu man lh">
      Rules: {{site.rules.length | number}}
    </h1>
    <div id="rules-filters" class="mtm">
      <label for="fuzzy-search" class="dn">And you can search all of them</label>
      <input ng-model="query" Placeholder="Fuzzy Search for anything" class="blk sans-serif txt-input mtm phm pvm" id="fuzzy-search">
    </div>
  </header>
    <article ng-repeat="rule in site.rules | filter:query"
    class="of-x-aut mbl">
      <h1 class="ws-nw f3">{{getSelectors(rule.selectors)}}</h1>
      <pre ng-repeat="declaration in getDecs(rule.declarations)"
      class="man lh-copy f6 f5-ns ws-nw">{{declaration.property}}: {{declaration.value}};</pre>
    </article>
</section>
<!-- For checking JSON data structure -->
<!-- <pre>{{ styles.stylesheet.rules | json }}</pre> -->
