<!-- This is an index:show::hub:spoke model and UI. Deal with it. -->

<section class="pvl phl pax-ns f3 lh-copy">
  <header>
    <p class="f5 f4-ns pbl" >
      Visualize your css.
    </p>
  </header>
  <div class="bg-near-white br-2 pam">
    <div>
      <select ng-model="model.cssInputType"
              ng-options="type.value as type.label for type in model.cssInputTypes">
      </select>
    </div>
    <div ng-show="model.cssInputType == 'url'" class="pts pbm">
      <label class="dn f6">Link to a website</label>
      <input type="text" on-enter-press="parseCss"
             ng-model="model.cssUrl"
             class="f6 wi-full mw-64 pam br-2 bor bor--lt-gry br-2"
             placeholder="http://www.cssstats.com">
    </div>
    <div ng-show="model.cssInputType == 'link'" class="pts pbm">
      <label class="dn f6">Link to a css file</label>
      <input type="text" ng-model="model.cssLink" class="f6 wi-full mw-64 pam br-2 bor bor--lt-gry br-2" placeholder="http://www.cssstats.com/css/i.css">
    </div>
    <div ng-show="model.cssInputType == 'input'" class="pts pbm">
      <label class="dn f6">Paste in some css</label>
      <textarea ng-model="model.cssInput" class="f6 wi-full mw-64 pam br-2 bor bor--lt-gry br-2" placeholder="Paste your css here"></textarea>
    </div>
    <div class="pts pbs">
      <input
        type="submit" ng-click="parseCss()"
        value="Parse ▸"
        class="f6 ttu mega-tracked phl pvm wht fw5 bg-blue br-2 bg-hov aa bn mrm">
    </div>
  </div>
</section>
