<div ng-hide="loading">
  <section id="overview" class="pvl phl phx-l">
    <article class="sans-serif mvm pvl bb">
      <div class="dib mrl mrx-l">
        <p class="f1 mega-l man">
          <span class="gry f6 man lh-copy db mbs"> Declared font-sizes</span>
          <b class="mega-l lh man db">{{site.decsByProperty.all.fontSize.length | number}}</b>
        </p>
      </div>
      <div class="dib">
        <p class="f1 mega-l man">
          <span class="gry f6 man lh-copy db mbs"> Unique font-sizes</span>
          <b class="mega-l lh man db">{{site.decsByProperty.unique.fontSize.length | number}}</b>
        </p>
      </div>
    </article>
    <article class="sans-serif pvl bb">
      <p class="f1 f1-l man"><b>{{site.decsByProperty.all.float.length | number}}</b> FLOATS</p>
      <p class="man f4 lh-copy">There are only three choices...</p>
    </article>
    <article class="sans-serif pvl bb">
      <p class="f1 f1-l man">
        <b>{{site.counts.selectors | number}}</b>
        <a href="http://www.w3.org/TR/CSS2/selector.html"
          title="What is a selector? TO THE SPEC!"
          class="blk ttu" >
          selectors
        </a>
      </p>
      <p class="f3">{{selectorsWarning}}</p>
    </article>
    <section class="pbl">
      <h1 class="h4 tracked ttu">Other Highlights</h1>
      <ul class="sans-serif">
        <li class="mvm f2">
          Widths
          <d3-bars data="model.d3.widths"></d3-bars>
        </li>
        <li class="mvm f2">
          Heights
          <d3-bars data="model.d3.heights"></d3-bars>
        </li>
        <li class="mvm f2">
          Color:
          <d3-bars data="model.d3.colors"></d3-bars>
        </li>
        <li class="mvm f2">
          Background colors:
          <d3-bars data="model.d3.backgroundColors"></d3-bars>
        </li>
      </ul>
    </section>
  </section>
