<section class="phl phx-l">
  <header class="pvl">
  <h1 class="f1 ttu tracked man lh ptl"> {{site.selectors.length}} Selectors </h1>
  <p class="f2 lh-copy">
    IDs carry more weight than classes and
    <a class="blk" href="http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/"
      title="That Harry Roberts is the best">are difficult to override.</a>.
    As css grows, people tend to add more and more specificity to selectors. This is the tops because haha.
  </p>
</header>
  <section class="mtx mtx-l">
    <header>
      <h1 class="f1 f1-l">Specificity Scores <span class="fw-normal">with corresponding selectors</span></h1>
    </header>
    <ul>
      <li ng-repeat="selector in site.selectors | filter:query | orderBy:'-score'" class="pvm">
        <b class="sans-serif f2 prl">{{selector.score}}</b> <code class="f5">{{selector.string}}</code>
      </li>
  </ul>
</section>
</section>
