<section class="phl phx-l">
  <header class="ptl pbs">
    <h1 class="f1 lh ttu tracked">Spacing</h1>
  </header>
  <h1 class="f2 lh ttu tracked mbs">Margins ({{site.decsByProperty.all.margin.length}})</h1>
  <h2>Margin-top</h2>
  <div>
    <div
      ng-repeat="margin in getDecs(site.decsByProperty.all.margin) | orderBy: 'relativeValue' | filter: 'margin-top'"
      style="width: {{ margin.relativeValue }}%; background-color: pink; white-space: nowrap;"
      class="sans-serif">
        {{margin.property}}: {{margin.value}}
    </div>
  </div>

  <h3>Margin-right</h3>
  <div>
    <div
      ng-repeat="margin in getDecs(site.decsByProperty.all.margin) | orderBy: 'relativeValue' | filter: 'margin-right'"
      style="width: {{ margin.relativeValue }}%; background-color: pink; white-space: nowrap;"
      class="sans-serif">
        {{margin.property}}: {{margin.value}}
    </div>
  </div>

  <h3>Margin-bottom</h3>
  <div>
    <div
      ng-repeat="margin in getDecs(site.decsByProperty.all.margin) | orderBy: 'relativeValue' | filter: 'margin-bottom'"
      style="width: {{ margin.relativeValue }}%; background-color: pink; white-space: nowrap;"
      class="sans-serif">
        {{margin.property}}: {{margin.value}}
    </div>
  </div>

  <h3>Margin-left</h3>
  <div>
    <div
      ng-repeat="margin in getDecs(site.decsByProperty.all.margin) | orderBy: 'relativeValue' | filter: 'margin-left'"
      style="width: {{ margin.relativeValue }}%; background-color: pink; white-space: nowrap;"
      class="sans-serif">
        {{margin.property}}: {{margin.value}}
    </div>
  </div>
</section>


<section class="phl phx-l">
  <h2>Padding ({{site.decsByProperty.all.padding.length}})</h2>

  <h3>Padding-top</h3>
  <div>
    <div
      ng-repeat="padding in getDecs(site.decsByProperty.all.padding) | orderBy: 'relativeValue' | filter: 'padding-top'"
      style="width: {{padding.relativeValue}}%; background-color: pink; white-space: nowrap;"
      class="sans-serif">
        {{padding.property}}: {{padding.value}}
    </div>
  </div>

  <h3>Padding-right</h3>
  <div>
    <div
      ng-repeat="padding in getDecs(site.decsByProperty.all.padding) | orderBy: 'relativeValue' | filter: 'padding-right'"
      style="width: {{padding.relativeValue}}%; background-color: pink; white-space: nowrap;"
      class="sans-serif">
        {{padding.property}}: {{padding.value}}
    </div>
  </div>

  <h3>Padding-bottom</h3>
  <div>
    <div
      ng-repeat="padding in getDecs(site.decsByProperty.all.padding) | orderBy: 'relativeValue' | filter: 'padding-bottom'"
      style="width: {{padding.relativeValue}}%; background-color: pink; white-space: nowrap;"
      class="sans-serif">
        {{padding.property}}: {{padding.value}}
    </div>
  </div>

  <h3>Padding-left</h3>
  <div>
    <div
      ng-repeat="padding in getDecs(site.decsByProperty.all.padding) | orderBy: 'relativeValue' | filter: 'padding-left'"
      style="width: {{padding.relativeValue}}%; background-color: pink; white-space: nowrap;"
      class="sans-serif">
        {{padding.property}}: {{padding.value}}
    </div>
  </div>
</section>
