body {
  color: var(--dark-gray);
  background-color: white;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  background-color: var(--lighter-gray);
  border-radius: var(--border-radius);
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
  border-bottom-color: var(--border-color);
}

.text-link,
.text-link:link,
.text-link:visited {
  color: var(--dark-gray);
  transition: color .15s ease-in;
}

.text-link:hover {
  color: var(--mid-gray);
  transition: color .15s ease-in;
}
.text-link:active {
  color: var(--light-gray);
  transition: color .15s ease-in;
}
.text-link:focus {
  color: var(--blue);
  transition: color .15s ease-in;
}
