
.field-light {
  background-color: white;
  transition: box-shadow .2s ease;
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}

.field-light:focus {
  outline: none;
  border-color: var(--blue);
  box-shadow: 0 0 2px rgba(var(--blue),.5);
}

.field-light:disabled {
  color: var(--mid-gray);
  background-color: var(--darken-2);
}

.field-light:read-only:not(select) {
  background-color: var(--darken-2);
}

/*
.field-light:invalid {
  border-color: var(--red);
}
*/

.field-light.is-success {
  border-color: var(--green);
}

.field-light.is-warning {
  border-color: var(--yellow);
}

.field-light.is-error {
  border-color: var(--red);
}


.radio-light,
.checkbox-light {
  transition: box-shadow .2s ease;
}

.radio-light {
  border-radius: 50%;
}

.radio-light:focus,
.checkbox-light:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(var(--blue),.5);
}

