.a {
  color: red;
}

@keyframes 'loading-fade' {
  10% { color: blue; }
  20% { color: navy; }
  30% { color: blue; }
}

@keyframes grow {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.b {
  color: green;
  background-color: gray;
}
