<div ng-controller="FontSizeCtrl">
  <h2>Font Sizes</h2>

  <input ng-model="fontQuery" Placeholder="Search (e.g. em, px)">
  <a href="" ng-click="showAll=true">All ({{ fontSizes.length }})</a>
  |
  <a href="" ng-click="showAll=false">Unique ({{ uniqueFontSizes.length}})</a>

  <div ng-switch="showAll" ng-init="showAll = true">

    <ul ng-switch-when="true">
    <li ng-repeat="fontSize in fontSizes | filter:fontQuery | orderBy:'pxValue'"
        style="border-bottom: 1px solid #ededed;"
        class="pvm">
        <h1 class="f4"><span class="gray">{{ fontSize.property }}</span>: {{ fontSize.value }}</h1>
        <p style="font-size: {{ fontSize.value }}">
          The quick brown fox jumps over the lazy dog is by far my most favorite pangram in the english language. What is yours?
        </p>
      </li>
    </ul>

    <ul ng-switch-when="false">
      <li
        ng-repeat="fontSize in uniqueFontSizes | filter:fontQuery | orderBy:'pxValue'"
        style="border-bottom: 1px solid #ededed;"
        class="pvm"
        >
        <h1 class="f4"><span class="gray">{{ fontSize.property }}</span>: {{ fontSize.value }}</h1>
        <p style="font-size: {{ fontSize.value }}">
          The quick brown fox jumps over the lazy dog is by far my most favorite pangram in the english language. What is yours?
        </p>
      </li>
    </ul>

  </div>
</div>
