<label>Style data URL:</label>
<input ng-model="styleUrl">

<h2 ng-show="loading" class="py2">Loading...</h2>

<div ng-hide="loading" class="py2">
  <h3>Filters</h3>
  <input ng-model="query" Placeholder="Fuzzy Search">
</div>

<h3>{{ styles.stylesheet.rules.length }} rules</h3>
<ul>
  <li ng-repeat="rule in styles.stylesheet.rules | filter:query">
    <h3 ng-repeat="selector in rule.selectors track by $index">
      {{ selector }}
    </h3>
    <pre ng-repeat="declaration in rule.declarations">{{ declaration.property }}: {{ declaration.value }};</pre>
  </li>
</ul>

<!-- For checking JSON data structure -->
<!-- <pre>{{ styles.stylesheet.rules | json }}</pre> -->