<label class="b sans-serif f5">Style data URL:</label>
<input ng-model="styleUrl">

<h2 ng-show="loading" class="py2">Loading...</h2>

<div ng-hide="loading">

  <section id="overview" class="py2">
    <h2>Declaration Stats</h2>
    <ul class="sans-serif">
      <li><span class="b">{{ declarations.length }}</span> declarations</li>
      <li><span class="b">{{ fontSizes.length }}</span> font-size declarations</li>
      <li><span class="b">{{ widths.length }}</span> width declarations</li>
      <li><span class="b">{{ colors.length }}</span> color declarations</li>
      <li><span class="b">{{ backgroundColors.length }}</span> background-color declarations</li>
    </ul>
  </section>


  <section id="subnav">
    <!-- You can use a form for filtering, here's an example -->
    <!-- <form>
      <input type="radio" ng-model="viewSection" id="btn-overview" value="overview" hidden>
      <label for="btn-overview">Overview</label>
      <input type="radio" ng-model="viewSection" id="btn-font-sizes" value="font-sizes" hidden>
      <label for="btn-font-sizes">Font-size</label>
    </form> -->

    <!-- But I think links work -->
    <!-- viewSection variable is used to determine whether to show or hide a section -->
    <!-- you can also use ngSwitch to add and remove elements from the DOM -->
    <a href="" ng-click="viewSection = 'font-sizes'">Font-size</a>
    <a href="" ng-click="viewSection = 'widths'">Width</a>
    <a href="" ng-click="viewSection = 'colors'">Color</a>
    <a href="" ng-click="viewSection = 'background-colors'">Background-color</a>

    <a href="" ng-click="viewSection = 'all-rules'">All Rules</a>
  </section>


  <section id="font-sizes" ng-show="viewSection == 'font-sizes'" class="py2">
    <h2>Type Scale</h2>
    <input ng-model="fontQuery" Placeholder="Search (e.g. em, px)">
    <ul>
      <li
        ng-repeat="fontSize in fontSizes | filter:fontQuery | orderBy:'value'"
        style="font-size: {{ fontSize.value }}">
          {{ fontSize.property }}: {{ fontSize.value }}
      </li>
    </ul>
  </section>

  <section id="colors" ng-show="viewSection == 'colors'">
    <h2>Colors ({{ colors.length }})</h2>
    <ul>
      <li ng-repeat="color in colors"
        style="color: {{ color.value }}">
          {{ color.property }}: {{ color.value }}
      </li>
    </ul>
  </section>

  <section id="background-colors" ng-show="viewSection == 'background-colors'">
    <h2>Background Colors ({{ backgroundColors.length}})</h2>
    <ul>
      <li ng-repeat="backgroundColor in backgroundColors"
        style="background-color: {{ backgroundColor.value }}">
          {{ backgroundColor.property }}: {{ backgroundColor.value }}
      </li>
    </ul>
  </section>


  <section id="all-rules" ng-show="viewSection == 'all-rules'" class="py2">

    <h2 ng-show="styles">{{ styles.stylesheet.rules.length }} rules</h2>

    <div id="rules-filters">
      <input ng-model="query" Placeholder="Fuzzy Search">
    </div>

    <ul>
      <li ng-repeat="rule in styles.stylesheet.rules | filter:query">
        <h3 ng-repeat="selector in rule.selectors track by $index">
          {{ selector }}
        </h3>
        <pre ng-repeat="declaration in rule.declarations">{{ declaration.property }}: {{ declaration.value }};</pre>
      </li>
    </ul>

    <!-- For checking JSON data structure -->
    <!-- <pre>{{ styles.stylesheet.rules | json }}</pre> -->

  </section>

</div>

