<h2>Overview</h2>
<h2 ng-show="loading" class="py2">Loading...</h2>

<div ng-hide="loading">

  <section id="overview" class="py2">
    <h2>Declaration Stats</h2>
    <ul class="mb2">
      <li>{{ selectors.length }} selectors</li>
      <li>{{ declarations.length }} declarations</li>
      <li>{{ uniqueDeclarations.length }} unique declarations</li>
      <li>{{ fontSizes.length }} font-size declarations</li>
      <li>{{ widths.length }} width declarations</li>
      <li>{{ heights.length }} height declarations</li>
      <li>{{ colors.length }} color declarations</li>
      <li>{{ backgroundColors.length }} background-color declarations</li>
      <li>{{ backgroundImages.length }} background-image declarations</li>
      <li>{{ backgroundImages.length }} background-image declarations</li>
      <li>{{ transitions.length }} transition declarations</li>
    </ul>
  </section>

</div>

